# ignore almost all folders
*/*
!img/*
!docs/source/make.bat
!docs/source/Makefile
!docs/source/_*
!submapp/*!

# ignore data
GotmFabmErsem-BATS.nc

# ignore VSC hidden files
*__pycache__*
*.vscode

# ignore notebooks EXCEPT from tuto
*.ipynb
!tuto_hmm.ipynb
!tuto_som.ipynb
